.wrapper {
  width: 100%;
}

.root {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}

.sentinel {
  height: 1px;
}

@media (min-width: 768px) {
  .root {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .root {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
